.jumbotron {
    font-family: Arial, Helvetica, sans-serif;
    background-color: navy !important;
    color: white;
  }

  .FooterInfo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:navy !important;
    color: white;
    margin: 1%;
    padding:1%;
  }

  .table {
    margin: auto;
    max-width: 80%;
  }